.gift-img {
    width: 35px;
    margin: 0 5px 10px 0;
}

.nav-item form button {
    padding: 0;
}

.font1 {
    font-family: 'Nixie One', cursive;
}

/*---------------- Login page ----------------*/
.logo-section {
    /*display: flex;*/
}
.logo-big {
    width: 75%;
    margin-left: 10em;
    padding: 2em;
    border: 1px solid #E0E0E0;
}
/*---------------- Login page ----------------*/


/*---------------- Groups ----------------*/
.search-box-and-create-button {
    display: flex;
    justify-content: space-between;
}

.group-list {
    display: grid;
    grid-template-columns: repeat(3, 32% [col-start]);
    justify-content: space-between;
    margin: 1em 0;
}

.group-card {
    background-color: #CDABAA;
    height: 30em;
    margin-bottom: 1em;
}

.group-card.first {
    margin-left: 0;
}

.group-card-header {
    text-transform: none;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}