.gift-img {
    width: 35px;
    margin: 0 5px 10px 0;
}

.nav-item form button {
    padding: 0;
}

.font1 {
    font-family: 'Nixie One', cursive;
    letter-spacing: 2px;
}

.no-caps {
    letter-spacing: normal;
    text-transform: none;
}

.default-cursor {
    cursor: default;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.vert-align-middle {
    vertical-align: middle;
}

/*---------------- Login page ----------------*/
.logo-section {
    /*display: flex;*/
}
.logo-big {
    width: 75%;
    margin-left: 10em;
    padding: 2em;
    border: 1px solid #E0E0E0;
}
/*---------------- Login page ----------------*/


/*---------------- Groups ----------------*/
.search-box-and-create-button {
    display: flex;
    justify-content: space-between;
}

.group-list {
    display: grid;
    grid-template-columns: repeat(3, 32% [col-start]);
    justify-content: space-between;
    margin: 1em 0;
}

.group-card {
    /*background-color: #CDABAA;*/
    height: 30em;
    margin-bottom: 1em;
    max-width: 355px;
}

.group-card.first {
    margin-left: 0;
}

.group-members {
    overflow-y: auto;
    max-height: 272px;
}

.group-member-icon {
    width: 1em;
}

.btn-create-new-group,
.btn-create-new-group:after {
    content: "Create New Group";
}

@media (max-width: 1000px) {
    .group-list {
        grid-template-columns: repeat(2, 48% [col-start]);
        margin: 1em 0;
    }

}

@media (max-width: 775px) {
    .group-list {
        grid-template-columns: repeat(1, 100% [col-start]);
        justify-items: center;
        margin: 1em 0;
    }
    .btn-create-new-group,
    .btn-create-new-group:after {
        content: "Create";
    }
    .search-box-and-create-button {
        flex-direction: column-reverse;
    }
    .form-control {
        width: 70%;
    }
}

/*------------------Wish Lists--------------------*/
@media (max-width: 900px) {
    .wish-list-index-header {
        display: flex;
        flex-direction: column;
    }
}

.list-icon {
    width: 1em;
}

.wish-list-items-group {
    display: grid;
    grid-template-columns: repeat(4, 24% [col-start]);
    justify-content: space-between;
}

.wish-list-item-card {
    display: flex;
    flex-direction: column;
}

.wish-list-item-card-bottom {
}

.wish-list-item-btn-container {
    margin: 0 auto;
}

.btn-width-100 {
    width: 100%
}

.share-list-select-form {
    display: flex;
}

.share-list-select {
    width: 35%;
}


@media (max-width: 1000px) {
    .wish-list-items-group {
        grid-template-columns: repeat(3, 32% [col-start]);
    }
}

@media (max-width: 775px) {
    .wish-list-items-group {
        grid-template-columns: repeat(2, 48% [col-start]);
    }
}

@media (max-width: 400px) {
    .wish-list-items-group {
        grid-template-columns: repeat(1, 100% [col-start]);
    }
}

/* -------------------- Items ---------------------- */
.item-description {
    min-height: 42px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

    body {
        /* Margin bottom by footer height */
        margin-bottom: 60px;
    }

    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        white-space: nowrap;
        line-height: 60px; /* Vertically center the text there */
    }