@model WhoWantsWhat.Models.ViewModels.ItemsViewModels.AddExistingItemToWishListViewModel

@{
    ViewData["Title"] = "AddExistingItemToWishList";
}

<h1>Select Wish List for @Model.Item.Name</h1>


<form asp-action="SaveExistingItemToWishList" class="add-existing-item-wish-list-form mt-4">
    <input type="hidden" asp-for="ItemId" />
    <div class="form-group">
        <select asp-for="WishListId" class="form-control add-existing-item-wish-list-select" asp-items="@Model.WishListOptions"></select>
        <span asp-validation-for="WishListId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary ml-2" />
    </div>
</form>
