@model WhoWantsWhat.Models.ViewModels.ItemsViewModels.AddItemToGiftListViewModel

@{
    ViewData["Title"] = "AddItemToGiftList";
}

<h3>Select Gift List</h3>


<form asp-action="SaveWishListItemToGiftList" class="d-flex mt-4">
    <input type="hidden" asp-for="Item.ItemId" />
    <input type="hidden" asp-for="UserId" />
    <input type="hidden" asp-for="WishListId" />
    <div class="form-group mr-2">
        <select asp-for="GiftListId" class="form-control" asp-items="@Model.GiftListOptions"></select>
        <span asp-validation-for="GiftListId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>