@using Microsoft.AspNetCore.Identity

@model WhoWantsWhat.Models.ViewModels.ItemsViewModels.EditItemViewModel

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Item.ItemId" />
            <input type="hidden" asp-for="Item.Purchased" />
            <input type="hidden" asp-for="Item.PurchaserId" />
            <input type="hidden" asp-for="Item.PurchasedAmount" />
            <div class="form-group">
                <label asp-for="Item.Name" class="control-label"></label>
                <input asp-for="Item.Name" class="form-control" />
                <span asp-validation-for="Item.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.Description" class="control-label"></label>
                <input asp-for="Item.Description" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Item.Link" class="control-label"></label>
                <input asp-for="Item.Link" class="form-control" />
                <span asp-validation-for="Item.Link" class="text-danger"></span>
            </div>
            @if (Model.WishListItemId > 0 && Model.Item.CreatorId == UserManager.GetUserId(User))
            {
                // Input for wish list notes
                <div class="form-group">
                    <label asp-for="WishListItem.Notes" class="control-label"></label>
                    <input asp-for="WishListItem.Notes" class="form-control" />
                </div>
            }
            @if (Model.GiftListItemId > 0 && Model.Item.CreatorId == UserManager.GetUserId(User))
            {
                // Input for gift list notes
                <div class="form-group">
                    <label asp-for="GiftListItem.Notes" class="control-label"></label>
                    <input asp-for="GiftListItem.Notes" class="form-control" />
                </div>
            }
            <input type="hidden" asp-for="WishListItemId" />
            <input type="hidden" asp-for="GiftListItemId" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

