@model WhoWantsWhat.Models.Group

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Name Group</h1>

<div>
    <h4>Group Members</h4>
    <hr />
    <ul>
        @foreach (var u in Model.GroupUsers)
        {
            <li>@u.User.FirstName @u.User.LastName</li>
        }
    </ul>
</div>
<a class="btn btn-primary" asp-action="AddPeopleToGroup">Add People to Group</a>
<form asp-action="LeaveGroup" asp-controller="Groups">
    <input type="hidden" asp-for="GroupId" />
    <input type="submit" value="Leave Group" class="btn btn-primary" />
</form>
<div>
    <a asp-action="Index">Back to Groups</a>
</div>
