@model WhoWantsWhat.Models.ViewModels.ReportsViewModels.ListTypeViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Reports</h1>

<h3>Spending Report:</h3>
<form asp-action="SpendingReport" asp-controller="Reports" class="report-select-form mt-4">
    <div class="form-group">
        <select asp-for="ListTypeId" class="form-control" asp-items="@Model.ListTypeOptions"></select>
        <span asp-validation-for="ListTypeId" class="text-danger"></span>
    </div>
    <div class="form-group ml-3">
        <select asp-for="Year" class="form-control" asp-items="@Model.YearOptions"></select>
        <span asp-validation-for="Year" class="text-danger"></span>
    </div>
    <div class="form-group ml-3">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>