@model WhoWantsWhat.Models.WishList

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Name</h1>

<form asp-action="CreateItem" asp-controller="Items">
    <input type="hidden" asp-for="WishListId"/>
    <input class="btn btn-primary" type="submit" value="Add Item To Wish List" />
</form>

<div>
    <hr />
    @if (Model.WishListItems != null)
    {
        <table class="table table-hover">
            <tbody>
                @foreach (var wi in Model.WishListItems)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(wi.Item.Name.ToString(), "Details", "WishListItems", new { id = wi.WishListItemId })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.WishListId">Edit</a> |
    <a asp-action="Index">Back to My Wish Lists</a>
</div>
